.btn {
    font-size: xx-large;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: bold;
    border-radius: 20px;
}

.btn-1 {
    background-color: black;
    color: greenyellow;
}

.btn-2 {
    background-color: blue;
    color: aqua;
}

.btn-3 {
    background-color: red;
    color: white;
}

* {
    background-color: aquamarine;
}